body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(83, 3, 3) ;
    color: rgb(241, 12, 12);
    background-image: -webkit-image-set(url(shattered-black-and-gold-glass-uvsvj515b0v03fw5.jpg));
    font-size: large;
    font-style: italic;
    padding: 35px;
text-align: center;
}
.container{
    padding: 35px;
    background-color: black;

}
img{
    width: 150px;
  
   }
a{
    color: yellow;
    
}
#cabeza{
    color: gold;
 }

 #clo{
    color: white;
 }